lightning==2.0.2
scikit-learn==1.2.2
typing_extensions==4.5.0  # NECESSARY

# jsonargparse[signatures]
jsonargparse==4.21.1 
typeshed-client==2.2.0 
docstring-parser==0.15 

# variable interpolation in configs
omegaconf==2.2.3

# formatter
black==23.1.0 

# optional libs.
# torchinfo==1.7.2
# torchaudio==2.0.1

# vision libs.
# albumentations==1.3.0
# opencv-python-headless==4.7.0.72
# torchvision==0.15.1

# logging
# wandb==0.15.3
# tensorboard