lightning
scikit-learn
typing_extensions  # NECESSARY

# jsonargparse[signatures]
jsonargparse
typeshed-client
docstring-parser

# variable interpolation in configs
omegaconf

# optional libs.
# torchinfo==1.7.2
# torchaudio==2.0.1

# vision libs.
# albumentations
opencv-python-headless
torchvision

# logging
wandb
tensorboardX