lightning
scikit-learn
typing_extensions  # NECESSARY

# jsonargparse[signatures]
jsonargparse
typeshed-client
docstring-parser

# variable interpolation in configs
omegaconf

# optional libs.
# torchinfo==1.7.2
# torchaudio==2.0.1

# vision libs.
# albumentations==1.3.0
# opencv-python-headless==4.7.0.72
# torchvision==0.15.1

# logging
wandb
tensorboardX